{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/league_analysis/style.css' %}">
<html>
<head>
    <style>
        div.background_img{
            background: url("https://external-preview.redd.it/OHPkrqAG9vgxPb7HxD8NxaJ8KgFNiAaA8ftYQo0t91U.jpg?width=960&crop=smart&auto=webp&s=2dfdfc1f28b5bfda104147f4a83601565393ff0e");
            background-repeat: no-repeat;
            margin-left: 150px;
            margin-right: 150px;
        }
        div.table_background{
            background: black;
            opacity: 0.6;
            margin-left: 150px;
            margin-right: 150px;
        }
        div.stat_table {
            opacity: 1;
        }
    </style>
</head>
<body>
    <div class="background_img" align="center">
        <div class="table_background">
            <div class="stat_table"  align="center">
                <table>
                    <thead>
                        <tr>
                            <th>
                                <h2>{{ team_one_statistics.team.name }}</h2>
                            </th>
                            <th></th>
                            <th>
                                <h2>{{ team_two_statistics.team.name }}</h2>
                            </th>
                        </tr>
                        <tr>
                            <td style="opacity: 1;"><img src="{{ team_one_statistics.team.logo_image_url }}" width="200px" style="opacity: 1"/></td>
                            <th></th>
                            <td style="opacity: 1;"><img src="{{ team_two_statistics.team.logo_image_url }}" width="200px" style="opacity: 1"/></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><h4>{{ team_one_statistics.average_kills}}</h4></td>
                            <td><h3>Average Kills</h3></td>
                            <td><h5>{{ team_two_statistics.average_kills}}</h5></td>
                        </tr>
                        <tr>
                            <td><h4>{{ team_one_statistics.average_deaths}}</h4></td>
                            <td><h3>Average Deaths</h3></td>
                            <td><h5>{{ team_two_statistics.average_deaths}}</h5></td>
                        </tr>
                        <tr>
                            <td><h4>{{ team_one_statistics.average_assists}}</h4></td>
                            <td><h3>Average Assists</h3></td>
                            <td><h5>{{ team_two_statistics.average_assists}}</h5></td>
                        </tr>
                        <tr>
                            <td><h4>{{ team_one_statistics.average_kda|floatformat }}</h4></td>
                            <td><h3>Average KDA</h3></td>
                            <td><h5>{{ team_two_statistics.average_kda|floatformat}}</h5></td>
                        </tr>
                        <tr>
                            <td><h4>{{ team_one_statistics.matches_played}}</h4></td>
                            <td><h3>matches played</h3></td>
                            <td><h5>{{ team_two_statistics.matches_played}}</h5></td>
                        </tr>
                        <tr>
                            <td><h4>{{ team_one_statistics.matches_won}}</h4></td>
                            <td><h3>matches won</h3></td>
                            <td><h5>{{ team_two_statistics.matches_won}}</h5></td>
                        </tr>
                        <tr>
                            <td><h4>{{ team_one_statistics.series_played}}</h4></td>
                            <td><h3>series played</h3></td>
                            <td><h5>{{ team_two_statistics.series_played}}</h5></td>
                        </tr>
                        <tr>
                            <td><h4>{{ team_one_statistics.series_won}}</h4></td>
                            <td><h3>series won</h3></td>
                            <td><h5>{{ team_two_statistics.series_won}}</h5></td>
                        </tr>
                        <tr>
                            <td><h4>{{ team_one_statistics.average_creep_stats}}</h4></td>
                            <td><h3>Average Creep Score</h3></td>
                            <td><h5>{{ team_two_statistics.average_creep_stats}}</h5></td>
                        </tr>
                        <tr>
                            <td><h4>{{ team_one_statistics.average_xpm}}</h4></td>
                            <td><h3>Average XPM</h3></td>
                            <td><h5>{{ team_two_statistics.average_xpm}}</h5></td>
                        </tr>
                        <tr>
                            <td><h4>{{ team_one_statistics.average_gpm}}</h4></td>
                            <td><h3>Average GPM</h3></td>
                            <td><h5>{{ team_two_statistics.average_gpm}}</h5></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    TODO ADD HERO STATS
</body>
</html>
